/*preencher toda a tela*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;/*remove a barra de rolagem horizontal*/
    width: 100%;/*preencher sempre 100%da tela*/
}


header {
    background-color: #0A4BA3; /*cor de fundo do cabeçalho*/
    font-family: poppins, sans-serif; /*fonte do cabeçalho*/
    color: #ffffff; /*cor do texto do cabeçalho*/
}

nav a {
    color: #ffffff; /*cor do texto do menu de navegação*/
    text-decoration: none; /*removendo sublinhado dos links*/
    margin: 0 22px; /*espaçamento entre os links*/
}
nav{
    text-align: center; /*alinhando o texto ao centro*/
    border-color: #ffffff; /*cor da borda do menu de navegação*/
    border-width: 1px; /*largura da borda do menu de navegação*/
    border-style: solid; /*estilo da borda do menu de navegação*/
    padding: 9px; /*distância entre as bordas do menu de navegação*/

}
.logo img {
    height: 100px; /*largura da imagem do menu de navegação*/
    width: 100px; /*altura automática da imagem do menu de navegação*/
}

/*estilizando a caixa de pesquisa*/
.caixa-pesquisa input{
    padding: 4px; /*espaçamento interno da caixa de pesquisa*/
    border: 1px solid #ccc; /*borda da caixa de pesquisa*/
    border-radius: 10px; /*arredondando os cantos da caixa de pesquisa*/
    font-family: poppins, sans-serif; /*fonte da caixa de pesquisa*/
    width: 400px; /*largura da caixa de pesquisa*/
    height: auto; /*altura da caixa de pesquisa*/
    padding-left: 10px; /*espaçamento interno da caixa de pesquisa*/
}

/*econfigurando a div de pesquisa*/

.caixa-pesquisa {
    display: flex; /*usando flexbox para alinhar os itens da caixa de pesquisa*/
    justify-content: center; /*alinhando os itens da caixa de pesquisa ao centro*/
    margin-top: 20px; /*espaçamento superior da caixa de pesquisa*/
    margin-bottom: 20px; /*espaçamento inferior da caixa de pesquisa*/
    position: relative; /*posição relativa para posicionar o ícone da caixa de pesquisa*/
}

/*alinhas as divs do cabeçalho*/
.topo{
    display:flex; /*exibe os elementos em linha*/
    align-items: center; /*alinhamento vertical dos elementos*/
    justify-content: space-between; /*alinhando os itens das divs do cabeçalho ao centro*/
   
}

/*configurando os icones*/
.caixa-pesquisa img{ 
    height: 21px; /*altura do ícone da caixa de pesquisa*/
    width: 21px; /*largura do ícone da caixa de pesquisa*/
    position: absolute; /*posição absoluta para posicionar o ícone da caixa de pesquisa*/
    right: 10px; /*distância do ícone da caixa de pesquisa em relação à borda esquerda*/
    top: 50%; /*alinhando o ícone da caixa de pesquisa ao centro verticalmente*/
    transform: translateY(-50%); /*ajustando a posição do ícone da caixa de pesquisa*/

}


.caixa-pesquisa placeholder {
   padding-left: 10px; /*espaçamento interno do placeholder da caixa de pesquisa*/
}

.icones a img {
    height: 30px; /*altura dos ícones de usuario e carrinho*/
    width: 30px; /*largura dos ícones de usuario e carrinho*/
    margin-right: 20px; /*distancia entre os icones de usuarios e carrinho ao lado direito*/
    grid-row: 1 / 3; /* ocupa as duas linhas */
}

.icones a small {
    color: #ffffff; /*cor do texto do carrinho*/
    font-size: 10px; /*tamanho da fonte do carrinho*/
    display: block; /*exibindo o texto do carrinho em bloco*/
    grid-column: 2;
    grid-row: 1;
    margin:0; /*removendo a margem do texto do carrinho*/
    
}


.icones a p {
    color: #ffffff; /*cor do texto do carrinho*/
    font-size: 12px; /*tamanho da fonte do carrinho*/
    display: block; /*exibindo o texto do carrinho em bloco*/
    grid-column: 2;
    grid-row: 2;
    margin:0; /*removendo a margem do texto do carrinho*/
}

.icones a {
    text-decoration: none; /*removendo sublinhado do texto do carrinho*/
    display: grid; /*exibindo os itens do carrinho em grid*/
    grid-template-columns: 30px auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    margin-right: 20px; /*distancia entre os icones de usuarios e carrinho ao lado direito*/
}

/*configurando a div icones*/

.icones{
    display: flex; /*exibe os elementos em linha*/
    align-items: center; /*alinhamento vertical dos elementos*/
    gap: 10px; /*distância entre os elementos*/
}

/*configurar as imagens*/

/*galeria*/

.area-detalhes {
     max-width: 1200px;
     /*tamanho máximo da largura da área*/
     margin: 40px auto;
     /*margem de espaçamento, distanciar as imagens da borda da tela*/
     padding: 10px;
     /*serve para separar os elemtnos de perto das bordas fa div*/
     display: flex;
     /*permitir que as imagens fique uma embaixo da outra
     ou uma ao lado da outra*/
     gap: 50px;
     /*e a distancia etre uma imgaem e outra*/
}

.area-imagens {

     display: flex;
     gap: 20px;
     /*distancia as tags dentro da div*/
}

.img-lateral {
    display: flex;
    flex-direction: column; /*deixa as imagens uma embaixo da outra*/
    gap: 10px; /*distancia entre uma miniatura e outra*/

}

.img-lateral{
    width: 70px;/*largura da área laterais*/
    height: 90px;/*altura da área laterais*/
    object-fit: cover;/*redimenciona a imagem para caber na área*/
    border: 2px solid transparent; /*bordas ao redor da área*/
    border-radius: 10px;/*arredondar as bordas*/
    cursor: pointer;/*alterar o curso para a mão*/
    transition: 0.3s;/*colocar efeitoo de transição*/
}

.img-lateral:hover {
    border-color: #ccc;/*adiciona borda ao passar o mouse pela imagem*/


}

.img-principal img{
    width: 420px;/*tamanho da imagem principal*/
    border-radius: 15px;/*arrendondar a imagem principal*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);/*adicionar sombra a imgame principal*/
}